/*Estas etiquetas comparten las mismas propiedades. Cualquier otra etiqueta h2 tendrá las mismas características*/
img[alt^="cat"]{
	border-style: dashed;
}
img +p::first-letter{
	font-size: 2em;
	font-weight: bold;
}
img:hover{
	opacity: 0.5;
	cursor: pointer;
}

h1{
	font-weight: bold;
	text-align: center;
}

section div[class^="card"]{
	background-color: #fff5ee;
	border-style: solid;
	margin: 10px;
	padding: 10px;
	height: 45%;
	width: 45%;
    display: inline-block;
}

p+p{
	display:none;
}

div.card :nth-child(4){
	display:none;
}