/*Estas etiquetas comparten las mismas propiedades. Cualquier otra etiqueta h2 tendrá las mismas características*/
h1,h2{
	text-align: center;
	text-decoration: underline;
    }
	p{
		text-align: right;
		color:blue;
	}
	*{
		font-family:verdana;
	}
	p#rusia,p#iran{
		border:1px dotted black;
	}
	.bombo{
		color:orange;
		text-decoration: underline;
		font-weight: bold;
	}
	div{
		background-image:url(http://es.fifa.com//assets/img/tournaments/17/2018/common/fwc_darkbluebg.png);
		height:100px;
	}